/*-----------------------------------------------------------Fonts*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:100,200,300,400,500,600,700|Playfair+Display:100,200,300,400,500,600,700');

/*-----------------------------------------------------------Colors*/

.bg-color-heading{
    background-color: #ffffff;
}

.bg-color-black{
    background-color: #000000;
}

.bg-color-nav{
    background-color: #e5fff9;
}
.bg-color-about{
    background-color: #e6f2ff;
}

/*--------------------------------------Special Paddings, Margins, Texts*/
.uppercase{
    text-transform: uppercase;
}

/*-------------------------------------------------------------Header*/
header {
    margin: 0;
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
    margin-left: 0;
    padding:  0;
}

.heading{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    margin: auto;
    border: none;
    padding: 5px;
    color: #000000;
}


/*-------------------------------------------------------------Navigation */

#nav {
    text-align: center;
    margin: 0;

}

#nav li {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.menu-item{
    height: 35px;
    display: inline-block;
    padding: 0;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-weight: 100;
    font-size: 18px;
    text-transform: uppercase;
 
}

.menu-item a{
    display:block;
    text-decoration: none !important;
    color: #001933 !important ;
}
/*------------------------Homepage-----*/

@media(min-width: 767px){
    
.band-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}

@media(max-width: 767px){
    
.band-image{
    width: 100%;
}
}
/*-------------------------------------------------------------Footer */

footer{
    min-height: 120px;
    margin: 0;
    background-color: #e5fff9;
}

#footer-details{
    margin: 20px;
    padding: 5px 0px 20px 0px;
}

.general-sub{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 700;
    padding-top: 5px;
}
.fa-heart{
    padding-left: 3px;
}

.footer-text{
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 14px;
}


.icon-style{
    padding: 0;
    font-size: 25px;
    color: #8f8f8f;
}