/*-----------------------------------------------------------Fonts*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/*-----------------------------------------------------------Colors*/

.bg-color-heading{
    background-color: #ffffff;
}
.bg-color-black{
    background-color: #000000;
}
.bg-color-nav{
    background-color: #e5fff9;
}
.bg-color-footer{
    background-color: #a0b9d3;
}

.bg-color-meet{
    background-color: #4bc6d0;
}

.bg-color-newsfeed{
    background-color: #CBE0FD;
}


.font-color-white{
    color: #ffffff;
}

/*----------------------------------Special Paddings, Margins, Texts*/
.uppercase{
    text-transform: uppercase;
}
.plain{
  text-decoration: none !important;
}

.title{
    /*--for page titles--*/
    font-family: 'Playfair Display SC', serif;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0;
    text-transform: uppercase;
}
.subheading{ 
    /*--for subheadings--*/
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 0;
}
.center-text {
    margin-top: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

.left-text {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    padding: 0 0 0 5%;
}

/*-----------------------------------------------------------Banner*/

.header a{
    text-decoration: none
}
.banner {
    margin: 0 !important;
    padding: 0px;
    border: none;
}
.banner-text{
    font-family: 'Playfair Display SC', serif;
    font-size: 5vw;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center !important;
    white-space: nowrap;
    display: inline-block;
    margin: auto;
    padding: 0;
    border: none;
    color: #ffffff;
    background-color: #000000;
}
.banner-image {
    margin: auto;
    padding: 0;
}
.banner-image img{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------Navigation*/

.navbar, .navbar-collapse{
    border: none;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
}
.nav-item {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
.nav-item a{
    text-decoration: none;
    color: #000000;
}
/*--------------------------------------------------------------Home*/
.newsfeed {
    display: inline-block;
    padding: 2% 5% 0 5%;
}
.newsfeed img {
    width: 20%;
}
.alert-info{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin: 2% 5% 0 5%;
}
/*------------------------------------------------------------About--------*/

.about-section{
    display: inline-block;
    padding-bottom: 20px;
}

.blockquote{
    display: inline-block;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.about-subtitle{
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: large;
    font-weight: 300;
    color: #000000;
}


.profiles{
    text-align: left;
    margin: 5px;
    padding: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
}

.kimber, .bergquist, .burch, .tate{
    width: 100%;
    border-radius: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*------------------------------------------------------------Events*/

.events{
    margin: 0;
    padding: 5px 5px 0px 0px;
    border: 0;
}

#events-info{
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 2px;
    margin-left: 2px;
}

.events-list{
    font-family: "Raleway", sans-serif;
    padding: 0px 2px 14px 0px;
    margin: 0;
    display: inline-block;

}

.event-item{
    padding: 3px 0px 0px 0px;
    margin: auto;
}
.date{
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.venue{
    text-align: center;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.btn-info{
    text-align: center;
    margin: auto;
    height: 30px;
}


/*------Contact Page-----*/

.contact-text {
    margin-top: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

.form-style {
    display: block;
    font-family: "Raleway", sans-serif; 
    font-size: 14px;
    font-weight: 200;
}

#formNameInput, #formEmaiInput, #inlineFormCustomSelect, #formMessage {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

#emailHelp {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    padding: 8px;
    font-style: italic;
}

.form-button {
    margin-bottom: 40px;
}

.subscribe-text{
    color: #856404;
}
/*-------------------------------------------------------------Footer */

footer{
    min-height: 120px;
    margin: 0;
    padding-top: 5px;
}

#footer-details{
    margin: 20px;
    padding: 5px 0px 20px 0px;
}

.general-sub{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-top: 5px;
    color: #FBF8F7;
}
.fa-heart{
    padding-left: 3px;
}

.footer-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.icon-style{
    padding: 0;
    font-size: 25px;
    color: #FBF8F7;
}

/*------Media Queries For Desktop/Large screens-----*/

@media(min-width: 768px){ 

.band-image-container{
    padding-bottom: 20px;    
}

.band-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }

.mailist-box{
    margin-top: 50px;
    }
}

/*------Media Queries For Mobile/Small screens-----*/

@media(max-width: 768px){ 
  
.band-image-container{
    padding: 0 0 20px 0;
    margin: 0;
}
.band-image{
    width: 100%;
 }
 
.form-style{
    margin-bottom: 30px;
}

#footer-details{
    text-align: center;
 }
}
