@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------------------------------------Colors*/
.ui-menu-color-home{
    background-color: #e67e22;
}

.ui-menu-color-about{
    background-color: #9b59b6;
}
.ui-menu-color-music{
    background-color: #3498db;
}

.ui-menu-color-events{
    background-color: #525252;
}

.ui-menu-color-contact{
    background-color: #e67e22;
}

/*-------------------------------Special Paddings/Margins/Text*/
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block{
    display: inline-block;
}

.row-table{
    display: table;
    
}

header {
    margin: 0;
}

/*---------------------------------------------Desktop Nav-----*/



/*----------------------Hover.css---------------------------*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}


/*-----------------------------------------Dropdown Mobile Nav*/

.navSmall {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4a4a4f;
}

button {
    border: none;
    background-color: #0997d3;
    width: 150px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.dropdownMenu {
    list-style: none;
    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    right: 0;
    top: 50;
    z-index: -1;
    width: 150px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}

.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    color: #4a4a4f;
    padding: 8px 8px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdownLink:hover {
    color: #fff;
    background-color: #a0a0a3
}

.dropdown {
    width: 150px;
    position: relative;
}

.dropdown:hover button {
    background-color: #018ec5;
}

.dropdown:hover .dropdownMenu {
    box-shadow: 5px 5px 10px 1px #d7dde5;
    transition: box-shadow .5s ease-in-out;
    transform: translateY(0)
}

/*------------------------Media Queries------------*/

@media (max-width: 480px) { /*mobiles*/
    .mobileShow {
        display: inline;
    }
    .mobileHide {
        display: none;
    }
}



@media (min-width: 480px) { /*tablets and desktop*/
    .mobileShow {
        display: none;
    }
    .mobileHide {
        display: inline;
    }
}


